@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500;600&family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.wrap {
  background: linear-gradient(45deg, #ac8bef, #2ddbdc);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.wrap h1 {
  font-weight: normal;
  font-size: 24px;
  font-family: "orbitron";
  color: #fff;
  letter-spacing: 1px;
  position: absolute;
  left: 50px;
  top: 70px;
}
.wrap h1 span {
  opacity: 0.8;
}
.wrap .auto {
  position: absolute;
  bottom: 60px;
  left: 60px;
  z-index: 20;
  display: flex;
}
.wrap .auto li {
  opacity: 0.9;
  transition: all 0.5s;
  margin-right: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}
.wrap .auto li:hover {
  opacity: 1;
  transform: scale(1.4);
}

.wrap .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  width: 500px;
  height: 500px;
  position: relative;
  top: 50%;
  margin-top: -230px;
}
.inner {
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 30px;
  box-sizing: border-box;
  opacity: 0.4;
  transition: 1s;
}
.swiper-button-prev {
  left: auto; /* 기존 left값 초기화 */
  right: 100px;
  top: auto;
  bottom: 50px;
  filter: grayscale(100%) brightness(3);
  transform: scale(0.5);
}
.swiper-button-next {
  left: auto; /* 기존 left값 초기화 */
  right: 60px;
  top: auto;
  bottom: 50px;
  filter: grayscale(100%) brightness(3);
  transform: scale(0.5);
}
.swiper-pagination-fraction {
  bottom: auto;
  left: auto;
  top: 50px;
  right: 50px;
  width: auto;
  font-size: 16px;
  font-family: "orbitron";
  color: #fff;
  letter-spacing: 1px;
}
.swiper-pagination-fraction span:nth-of-type(1) {
  font-size: 30px;
  color: #fff;
}
